<ion-header>
    <ion-navbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    This is the test screen

    <ion-list radio-group *ngFor="let q of ' '.repeat(questions).split(''), let x = index">

        <ion-list-header>
          Question no. {{x+1}}
        </ion-list-header>
      
        <ion-item *ngFor="let i of o.slice(0, options)">
          <ion-label>{{i}}</ion-label>
          <ion-radio value="{{i}}"></ion-radio>
        </ion-item>
      
      </ion-list>      

    <ion-fab right bottom>
        <button ion-fab color="danger" (click)="showConfirm()"><ion-icon name="close"></ion-icon></button>
    </ion-fab>
</ion-content>